*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
*:not(i){
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #9078f9;
}
.container{
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 31, 61, 0.2);
}
.search-box input{
padding: 5px;
width: 70%;
border: none;
outline: none;
border-bottom: 3px solid #ae9cff;
font-size: 16px;
}
.search-box button{
    padding: 15px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}
.result h3{
    font-size: 30px;
    color: #1f194c;
}
.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;


}
.result button{
    background-color: transparent;
    color:#7c60f8 ;
    border: none;
    outline: none;
}

.result .defination {
display: flex;
gap:10px ;
color: #969bd7;
margin: 5px 0px 20px 0;
font-size: 14px;
}
.defination2 {
display: flex;
gap:10px ;
color: #969bd7;
margin: 5px 0px 20px 0;
margin-top: 20px;
font-size: 14px;
}
.word-meaning{
    color: #575a7b;
}
.word-example{
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    margin-top: 30px;
    padding-left: 20px;
}
.word-synonyms{
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    margin-top: 5px;
    padding-left: 20px;
}
.error{
    margin-top: 80px;
    text-align: center;
}
 .line{
width: 100%;
border: 2px solid #575a7b;
margin: 10px;
}
use {
    animation: move-forever 2s linear infinite;
}
use:nth-child(2) {
    animation-duration: 2.5s;
    animation-delay: -1.5s;
}
use:nth-child(1) {
    animation-duration: 5s;
}
@keyframes move-forever {
    0% {
        transform: translate(-2px, 0);
   }
    100% {
        transform: translate(0px, 0);
   }
}
/* layout only*/
body {
    margin: 0;
    overflow: hidden;
    background-color: #123;
}
svg {
    width: 100vw;
    height: 100vh;
}
